* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
  background-color: black;
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/back.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: blueviolet;
}

a, a:visited {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: blueviolet;
}

h2, h4 {
  padding-top: 40px;
  padding-bottom: 20px;
}

.content:not(:last-child) {margin-bottom: 0;}

/* MEDIA QUERIES */

@media screen and (max-width: 767px) {
  body {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 10px;
  }
}